body {
	font-family: Arial, sans-serif;
	margin: 10px;
	padding: 0;
	line-height: 1.5;
	background-color: #DCDCDC;
	color: #000000;
}

h1 {
	text-align: center;
	margin-top: 80px;
}

h2 {
	color: #000000;
	text-decoration: none!important;
}

h1 + h2 {
	background-color:#D3D3D3;
	padding: 10px;
}

#iframeheading {
	color: #2F4F4F;
	text-align: center;
	text-decoration: underline;
}

.menu {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

ul {
	list-style-type: disc;
	margin-left: 10px;
}

ol {
	list-style-type: decimal;
	margin-left: 20px;
}

nav {
	background-color: #808080;
	color: #000000;
	padding: 10px 0;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
}

nav ul li {
	display: inline;
	margin-right: 15px;
}

nav ul li a {
	color: #FFF0F5;
	text-decoration: none;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

table th, table td {
	border: 1px solid #000000;
	padding: 6px;
	text-align: center;
}

table th {
	font-size: 120%;
	background-color: #FFA07A;
}

tbody > tr {
	background-color: #FFEBCD;
	font-weight: bold;
	font-size: 120%;
}